<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main style="background-image:url('https://d1ehtbmbkj66y7.cloudfront.net/products/teak-tabletop.jpg'); background-size: 1500px 1000px;">
                    <v-row>
                    <v-col><v-row>
                        <v-col align="right" :cols="10">
                            <v-row style="margin-top:30px; margin-left:90%;">
                                <p>Player 1</p>
                                <v-icon v-bind:class="{'green':turn&&(!score1||!player1_dead), red:player1_dead&&score1}">mdi-clock</v-icon>
                            </v-row>
                        <v-row align="center" justify="center" v-for="i in boxs" :key="i">
                            <v-container>
                                <v-btn height="30" @click="Handle_click('Player1', i)" v-bind:class="{'black':player1_clicked[i]}">
                                    <v-container>
                                        <v-row align="center" justify="center" >
                                            {{i}}
                                        </v-row>
                                    </v-container>
                                </v-btn>
                            </v-container>
                        </v-row>
                        <v-row  style="margin-left:90%;"><v-card width="40px" align="center"  v-bind:class="{'green':turn&&(!player1_dead||!score1)}">{{time1}}</v-card></v-row>
                        </v-col>
                    <v-col align="center" justify="center">
                            <v-card width="50" height="50" align="center" justify="center" style="margin-top:250px">
                                <v-container align="center" justify="center" >
                                        {{number}}
                                </v-container>
                            </v-card>
                            <v-card width="50" height="50" align="center" justify="center" style="margin-top:19px">
                                <v-container align="center" justify="center" >
                                        {{number2}}
                                </v-container>
                            </v-card>
                    </v-col>
                    </v-row></v-col>
                    <v-col><v-row>
                        <v-col align="left" >
                                <v-row style="margin-top:30px; margin-left:15%;">
                                    <p>Player 2</p>
                                </v-row>
                                <v-row><v-icon style="margin-left:30%;" v-bind:class="{'green':!turn&&(!player2_dead||!score2), red:player2_dead&&score2}">mdi-clock</v-icon></v-row>
                            <v-row align="center" justify="center" v-for="i in boxs" :key="i">
                                <v-container>
                                    <v-btn height="30" @click="Handle_click('Player2', i)" v-bind:class="{'black':player2_clicked[i]}">
                                        <v-container>
                                            <v-row align="center" justify="center" >
                                                {{i}}
                                            </v-row>
                                        </v-container>
                                    </v-btn>
                                </v-container>
                            </v-row>
                            <v-row  align="center" justify="center"><v-card width="40px" align="center" v-bind:class="{'green':!turn&&(!player2_dead||!score2)}">{{time2}}</v-card></v-row>
                        </v-col>
                        <v-col :cols="10">
                                <v-row align="left">                                    
                                        <v-col style="margin-top:13%">
                                            <v-card width="300px">
                                                <v-card-title>
                                                    Game rules
                                                </v-card-title>
                                                <v-card-text>    
                                                    At the start of the game all boxes are "open", showing the numerals 1 to 9.
                                                    During the game, each player plays in turn. If the remaining boxes show 6 or lower the only one die will be shown. Otherwise, both dice will be in play.
                                                    After rolling, you add up the digits on the dice and then "shut" (by clicking on) one of any combination of open numbers that equals the sum of the dice.
                                                </v-card-text>    
                                            </v-card>
                                            <v-container style="width:165px; margin-right:500px;">
                                            <h3 style="margin-top:5px">Set game length</h3>
                                            <v-text-field name="set_start_time" style="margin-top:10px" background-color="white"  v-model="time">
                                            </v-text-field></v-container>
                                                <v-btn x-large color="success" dark style="margin-top:5px" @click="StartGame()">
                                                    Start
                                                </v-btn>
                                    </col>
                                </v-row>
                        </v-col>
                        </v-row>
                        </v-col>
                     </v-row>
                     <v-col>
                        <v-container>
                            <v-card width="135px"  style="margin-left:860px; margin-top:-200px" v-if="player1_dead&&player2_dead">
                                <v-card-title>
                                    Game over
                                </v-card-title>
                                <v-card-text>
                                    Player1: {{score1}}
                                    Player2: {{score2}}
                                    {{Get_winner()}}
                                </v-card-text>
                            </v-card>
                            </v-container>
                            </v-col>
                </v-main>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="shut_the_box.js"></script>
    </body>
</html>
