<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
        <div id="app">
            <v-app>
                <v-main style="background-image:url('https://d1ehtbmbkj66y7.cloudfront.net/products/teak-tabletop.jpg'); background-size: 1500px 1000px;">
                    <v-row>
                    <v-col><v-row>
                        <v-col align="right" :cols="10">
                            <v-row style="margin-top:30px; margin-left:90%;">
                                <p>Player 1</p>
                            </v-row>
                        <v-row align="center" justify="center" v-for="i in boxs" :key="i">
                            <v-container>
                                <v-btn height="30">
                                    <v-container>
                                        <v-row align="center" justify="center" >
                                            {{i}}
                                        </v-row>
                                    </v-container>
                                </v-btn>
                            </v-container>
                        </v-row></v-col>
                    <v-col align="center" justify="center">
                            <v-card width="50" height="50" align="center" justify="center" style="margin-top:250px">
                                <v-container align="center" justify="center" >
                                    <v-row align="center" justify="center" >
                                        {{number}}
                                    </v-row>
                                </v-container>
                            </v-card>
                            <v-card width="50" height="50" align="center" justify="center" style="margin-top:19px">
                                <v-container align="center" justify="center" >
                                    <v-row align="center" justify="center" >
                                        {{number2}}
                                    </v-row>
                                </v-container>
                            </v-card>
                    </v-col>
                    </v-row></v-col>
                    <v-col><v-row>
                        <v-col align="left" >
                                <v-row style="margin-top:30px; margin-left:30%;">
                                    <p>Player 2</p>
                                </v-row>
                            <v-row align="center" justify="center" v-for="i in boxs" :key="i">
                                <v-container>
                                    <v-btn height="30">
                                        <v-container>
                                            <v-row align="center" justify="center" >
                                                {{i}}
                                            </v-row>
                                        </v-container>
                                    </v-btn>
                                </v-container>
                            </v-row>
                        </v-col>
                        <v-col :cols="10">
                                <v-row align="left">                                    
                                        <v-col>
                                            <v-card title="Game rules" width="300px"  >
                                            At the start of the game all levers or tiles are "open" (cleared, up), showing the numerals 1 to 9.
                                            During the game, each player plays in turn. A player begins his or her turn by throwing or rolling the die or dice into the box. If the remaining tile(s) show 6 or lower, the player may roll only one die. Otherwise, the player must roll both dice.
                                            After throwing, the player adds up (or subtracts) the pips (dots) on the dice and then "shuts" (closes, covers) one of any combination of open numbers that equals the total number of dots showing on the dice. For example, if the total number of dots is 8, the player may choose any of the following sets of numbers (as long as all of the numbers in the set are available to be covered):
                                        </v-card>
                                                <v-btn x-large color="success" dark>
                                                    Start
                                                </v-btn>
                                    </col>
                                </v-row>
                        </v-col>
                        </v-row>
                        </v-col>
                     </v-row>
                </v-main>
            </v-app>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="shut_the_box.js"></script>
    </body>
</html>
